*{
    margin: 0;
    padding: 0;
}

.main{
    display: grid;
}

#left-sider{
    display: grid;
    /* grid-column: 1;
    grid-row: 2; */
    grid-template-columns: 18rem;
    width: 18rem;
    border-right: 1px solid rgb(217 217 217);
    position: fixed;
    height: 100vh;
}

.profile-stats-main{
    display: grid;
    grid-template-columns: 58.3rem;
    position: relative;
    grid-column: 2;
    grid-row: 1;
    width: 100%;

}

.profile-stats{
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 5rem 0;
}
.profile-sub-section1{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-sub-section2{
    padding-left: 50px;
    width: 200px;
}

#username{
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.stats{
    display: flex;
    padding: 15px 0;
    text-align: center;
}

.post-stats{
    padding-right: 2.3rem;
    font-size: 16px;
}

.user-details{
    font-family: monospace;
    font-weight: 300;
}

.user-changesBtns{
    margin: 15px 0;
}

.user-profile-editBtn{
    padding: 6px 8px;
    width: 8rem;
    border: none;
    border-radius: 6%;
    background-color: rgb(226, 226, 226);
}

.user-profile-editBtn:hover{
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}

.user-profile-followBtn{
    padding: 8px;
    width: 8rem;
    border-radius: 20px;
    background-color: blue;
    color: white;
    border: none;
}

.user-profile-followBtn:hover{
    background-color: rgb(9, 9, 210);
    cursor: pointer;
}

.EditProfileDetails{
    display: flex;
    flex-direction: column;
}

.EditProfileDetails-text{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px 0px 5px;
}

.EditProfileDetails-input{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: rgb(91, 91, 91);
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(161, 227, 255);
}

.EditProfileDetails-ChangesBtn{
    padding: 8px;
    width: 10rem;
    color: white;
    background-color: rgb(36, 164, 36);
    border: none;
    margin: 8px 0px;
    border-radius: 5%;
}

.EditProfileDetails-ChangesBtn:hover{
    cursor: pointer;
    background-color: rgb(22, 155, 22);
}

.full-name{
    font-size: 13px;
}

.gallery{
    position: relative;
    grid-column: 2;
    grid-row: 2;
    width: 73rem;
    left: 10.5rem;
}



.title{
    font-size: 30px;
    padding: 30px 8px 8px;
}

.gallery-struct{
    display: flex;
    flex-wrap: wrap;
}

.post-struct{
    padding: 10px;
    width: 360px;
    height: 360px;
    overflow: hidden;
}

.post-pic:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.6s ease;
}

.post-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Followers Modal (background) */
.followersRelease-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Followers Modal Content */
.followersRelease-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button for Followers Modal */
.followersRelease-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.followersRelease-close:hover,
.followersRelease-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Following Modal (background) */
.followingRelease-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Following Modal Content */
.followingRelease-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
}

.followingRelease-modal-content > h2{
    text-align: center;
    margin: 15px 0px;
}

/* The Close Button for Following Modal */
.followingRelease-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.followingRelease-close:hover,
.followingRelease-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* MOdal css ends here for followers and following  */

.likes-profile-details{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.follower-following-profile-details{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.follower-following-profile-picture{
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    overflow: hidden; /* Hide overflow */
    border-radius: 50%;
    border: 3px solid rgb(82, 7, 74);
}

.follower-following-profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#follower-following-profile-username{
    font-weight: 700;
    font-style: oblique;
    font-size: 16px;
}

#follower-following-profile-name{
    font-size: 14px;
    color: #888;
}




/* Popup styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 3% auto;
    border: 1px solid #888;
    width: 70%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

.post-struct-contents{
    display: flex;
    flex-direction: row;
    height: 620px;
}

.post-struct-content-left{
    width: 600px;
    height: 620px;
    overflow: hidden;
}

.post-struct-content-left > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post-struct-content-right{
    margin: 30px;
    width: 40%;
}
.post-struct-content-right-profile{
    padding: 0 0 14px 0;
}

.post-struct-profile-info{
    display: flex;
    flex-direction: row;
}

.post-struct-profile-pic{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgb(106, 4, 64);
}

.post-struct-profile-pic > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post-struct-profile-namesInfo{
    margin: 0 20px;
}

.post-struct-profile-username{
    font-weight: 600;
    font-size: 16px;
}

.post-struct-profile-name{
    padding-top: 3px;
    color: rgb(121, 121, 121);
    font-size: 14px;
}


.post-struct-content-right-comment{
    height: 70%;
    /* max-height: 300px; Adjust the height as needed */
    overflow-y: auto;
}

.user-comment{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}

.user-comment-profile{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgb(82, 7, 74);
}

.user-comment-profile > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.user-comment-text{
    font-size: 13.5px;
}

.post-struct-btn{
    border: none;
    margin: 5px;
    background: none;
}

.fa-regular{
    font-size: 17px;
}


.likes-profile-details{
    display: flex;
    flex-direction: row;
    margin: 20px;
}



.likes-profile-picture{
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    overflow: hidden; /* Hide overflow */
    border-radius: 50%;
    border: 3px solid rgb(82, 7, 74);
}

.likes-profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#likes-profile-username{
    font-weight: 700;
    font-style: oblique;
    font-size: 16px;
}

#likes-profile-name{
    font-size: 14px;
    color: #888;
}