
{% load static %} 

{% block content %} {% for post in posts reversed %}
<div class="feeds-container">
  <div class="sub-container1">
    {% comment %} profile image {% endcomment %}
    <div class="profile">
      <img src="{% static "man.png" %}" class="profile-img" alt="logo">
{% comment %} 
      {% for userProfile in userx %}
        {% if post.user_id == userProfile.id %} {% endcomment %}

          <div class="sub-profile">
            <h4 class="profile-username">{{ post.user.get_username }}</h4>
            <p class="profile-name">{{ post.user.name }}</p>

          </div>


        {% comment %} {% endif %}
      {% endfor %} {% endcomment %}
    </div>
  </div>

  <img src="{{ post.post_image.url }}" alt="kitten-photo" class="feeds-picture">


  <div class="sub-container2">
    <div class="likes-comment-section">
      <form action="/like-btn/" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.id }}">
        {% if post.id in liked_post_ids %}
          <button type="submit" style="background: none; border: none; margin-right: 8px;">
              <i class="fa-regular fa-heart" style="color: red;"></i>
          </button>
        {% else %}
          <button type="submit" style="background: none; border: none; margin-right: 8px">
            <i class="fa-regular fa-heart"></i>
          </button>
        {% endif %}
      </form>
    
      <form action="/like-btn" method="post">
        {% csrf_token %}
        <a href="" type="button submit">
          <i class="fa-regular fa-comment"></i>
        </a>
      </form>
      
    </div>
    <div class="save">
      <i class="fa-regular fa-bookmark"></i>
    </div>
  </div>

  <div class="likes-view">
    <p>{{ post.post_likes }} likes</p>
  </div>

  <div class="caption">{{ post.post_caption }}</div>

  <div class="date">
    <p> {{ post.post_timestamp|date:"d F, Y" }}</p>
  </div>
</div>
{% endfor %} {% endblock %}

