{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static "index.css" %}">
    <link rel="stylesheet" href="{% static "left-navigation.css" %}">
    <link rel="stylesheet" href="{% static "right-menu.css" %}">

</head>
<body>

    <div class="container">
        <div id="header">
            {% include 'header.html' %} 
        </div>
        
        <div id="left-sidebar">
            {% include 'left-navigation.html' %} 
        </div>
        {% comment %} <h2>{{ request.user.username }}</h2> {% endcomment %}

        <div id="feeds">
            <div class="feeds-title">
                <h2>Feeds</h2>
            </div>
           
            {% include "feeds.html" %}          


        </div>

        <div id="right-sidebar">
            {% include "right-menu.html" %}
        </div>
    </div>

</body>
<script src="https://kit.fontawesome.com/24b543e59b.js" crossorigin="anonymous">    
</script>
</html>
