{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile - Him Kishan Das</title>
    <link rel="stylesheet" href="{% static 'header.css' %}" />
    <link rel="stylesheet" href="{% static "left-navigation.css" %}"> <link
    rel="stylesheet" href="{% static "profile.css" %}">
  </head>
  <body>
    <div class="main">
      <div id="left-sider">{% include "left-navigation.html" %}</div>

      <div class="profile-stats-main">
        <div class="profile-stats">
          <div class="profile-sub-section1">
            <img
              src="{{ profile_user.profile_picture.url }}"
              alt="profile picture"
              class="profile-picture"
            />
          </div>

          <div class="profile-sub-section2">
            <h3 id="username">{{ profile_user.username }}</h3>

            <div class="stats">
              <div class="post-stats">
                <h4 class="stats-numbers">{{ post_count }}</h4>
                <p class="stats-title">Posts</p>
              </div>
              <div class="post-stats">
                <h4
                  class="stats-numbers"
                  id="followerCount"
                  style="cursor: pointer"
                >
                  {{ follower_count }}
                </h4>
                <div class="stats-title">Followers</div>
              </div>

              <!-- Followers Modal -->
              <div
                id="followersReleaseModal-{{ profile_user.id }}"
                class="followersRelease-modal"
              >
                <div class="followersRelease-modal-content">
                  <span class="followersRelease-close">&times;</span>
                  <h2>Followers</h2>
                  {% for follower in follower_details %}
                  <!-- List of followers will be dynamically inserted here -->
                  <div
                    id="followerList-{{ profile_user.id }}"
                    class="follower-following-profile-details"
                  >
                    <div class="follower-following-profile-picture">
                      <img
                        src="{{ follower.profile_picture.url }}"
                        class="follower-following-profile-img"
                      />
                    </div>
                    <div style="margin: 0 14px">
                      <p id="follower-following-profile-username">
                        {{ follower.username }}
                      </p>
                      <p id="follower-following-profile-name">
                        {{ follower.name }}
                      </p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="post-stats">
                <h4
                  class="stats-numbers"
                  id="followingCount"
                  style="cursor: pointer"
                >
                  {{ following_count }}
                </h4>
                <p class="stats-title">Following</p>
              </div>
            </div>

            <!-- Following Modal -->
            <div id="followingReleaseModal" class="followingRelease-modal">
              <div class="followingRelease-modal-content">
                <span class="followingRelease-close">&times;</span>
                <h2>Following</h2>
                {% for following in following_details %}
                <!-- List of followers will be dynamically inserted here -->
                <div
                  id="followerList-{{ profile_user.id }}"
                  class="follower-following-profile-details"
                >
                  <div class="follower-following-profile-picture">
                    <img
                      src="{{ following.profile_picture.url }}"
                      class="follower-following-profile-img"
                    />
                  </div>
                  <div style="margin: 0 14px">
                    <p id="follower-following-profile-username">
                      {{ following.username }}
                    </p>
                    <p id="follower-following-profile-name">
                      {{ following.name }}
                    </p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="user-details">
              <h5 class="full-name">{{ profile_user.name }}</h5>
              <p class="about">{{ profile_user.user_bio|linebreaksbr }}</p>
            </div>

            <div class="user-changesBtns">
              {% if profile_user.username == request.user.username %}
              <button class="user-profile-editBtn" id="myBtn">
                Edit Profile
              </button>
              {% else %}
              <form
                action="{% url 'follow_unfollow_user' username=profile_user.username %}"
                method="post"
              >
                {% csrf_token %}
                <button type="submit" class="user-profile-followBtn">
                  {% if is_following %} Unfollow {% else %} Follow {% endif %}
                </button>
              </form>
              {% endif %}
            </div>

            <div id="myModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>

                <h1 class="createPost">Edit Profile Details</h1>

                <hr />

                <form
                  action="/edit-profile/"
                  method="post"
                  enctype="multipart/form-data"
                  class="EditProfileDetails"
                >
                  {% csrf_token %}
                  <label for="" class="EditProfileDetails-text"
                    >Change Profile Picture
                  </label>
                  <input
                    type="file"
                    name="profile-picture"
                    class="EditProfileDetails-input"
                    id=""
                    accept="image/*"
                  />

                  <label for="" class="EditProfileDetails-text">Username</label>
                  <input
                    type="text"
                    name="profile-username"
                    id=""
                    class="EditProfileDetails-input"
                    value="{{ request.user.username }}"
                  />
                  <br />
                  <label for="" class="EditProfileDetails-text">Name</label>
                  <input
                    type="text"
                    name="profile-name"
                    id=""
                    class="EditProfileDetails-input"
                    value="{{ request.user.name }}"
                  />
                  <br />
                  <label for="" class="EditProfileDetails-text">Bio</label>
                  <textarea
                    name="profile-bio"
                    id=""
                    class="EditProfileDetails-input"
                    rows="4"
                    wrap="hard"
                    maxlength="80"
                  >
{{ request.user.user_bio|safe }}</textarea
                  >

                  <button type="submit" class="EditProfileDetails-ChangesBtn">
                    Save Changes
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="gallery">
        <hr />

        <div class="user-posts">
          <h3 class="title">Posts</h3>

          <div class="gallery-struct">
            {% for userPost in user_posts reversed %}
            <div class="post-struct" id="post-struct-{{ userPost.id }}">
              <img
                class="post-pic"
                src="{{ userPost.post_image.url }}"
                alt=""
              />
            </div>

            <!-- Popup Structure -->
            <div id="popup-{{ userPost.id }}" class="popup">
              <div class="popup-content">
                <span class="close" data-id="{{ userPost.id }}">&times;</span>
                <div class="post-struct-contents">
                  <div class="post-struct-content-left">
                    <img src="{{ userPost.post_image.url }}" alt="" />
                  </div>
                  <div class="post-struct-content-right">
                    <div class="post-struct-content-right-profile">
                      <div class="post-struct-profile-info">
                        <div class="post-struct-profile-pic">
                          <img src="/static/man.png" alt="" />
                        </div>
                        <div class="post-struct-profile-namesInfo">
                          <p class="post-struct-profile-username">
                            {{ userPost.user.username }}
                          </p>
                          <p class="post-struct-profile-name">{{ userPost.user.name }}</p>
                        </div>
                      </div>
                    </div>

                    <hr />
                    <div class="post-struct-content-right-comment">
                      {% for comment in userPost.comments %}
                      <div class="user-comment">
                        <div class="user-comment-profile">
                          <img
                            src="{{ comment.user.profile_picture.url }}"
                            alt=""
                            class="user-comment-profile"
                          />
                        </div>
                        <div style="padding-left: 13px">
                          <h4 class="user-comment-username">
                            {{ comment.user.username }}
                          </h4>
                          <p class="user-comment-text">
                            {{ comment.user_comment }}
                          </p>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <hr />

                    <div class="post-struct-content-right-buttons">
                      <button class="post-struct-btn">
                        <i class="fa-regular fa-heart" style="color: red"></i>
                      </button>
                      {% comment %}
                      <button class="post-struct-btn">
                        <i class="fa-regular fa-comment"></i>
                      </button>
                      {% endcomment %}
                    </div>

                    {% comment %} {% for post in user_posts %} {% endcomment %}
                    <div class="post">
                      {% comment %} <p>{{ post.content }}</p> {% endcomment %}
                      <div class="likes-view">
                        <p>
                          Liked by
                          <a href="#" id="likes-link-{{ userPost.id }}"
                            >{{ userPost.total_likes }} people</a
                          >
                        </p>
                      </div>

                      <!-- Modal -->
                      <div id="likesModal-{{ userPost.id }}" class="modal">
                        <div class="modal-content">
                          <span class="close" data-postid="{{ userPost.id }}"
                            >&times;</span
                          >
                          <h5>People who liked this post</h5>
                          <hr />
                          {% for like in userPost.liked_by %}
                          <div class="likes-profile-details">
                            <div class="likes-profile-picture">
                              <img
                                src="{{ like.user.profile_picture.url }}"
                                class="likes-profile-img"
                              />
                            </div>
                            <div style="margin: 0 14px">
                              <p id="likes-profile-username">
                                {{ like.user.username }}
                              </p>
                              <p id="likes-profile-name">
                                {{ like.user.name }}
                              </p>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>






                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/24b543e59b.js"
    crossorigin="anonymous"
  ></script>

  <script>
      {% if profile_user.username == request.user.username %}
        var modal = document.getElementById("myModal");

        var btn = document.getElementById("myBtn");

        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function () {
          modal.style.display = "block";
        };

        span.onclick = function () {
          modal.style.display = "none";
        };

        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        };
      {% endif %}


      document.addEventListener('DOMContentLoaded', function() {
        var followersModal = document.getElementById("followersReleaseModal-{{ profile_user.id }}");
        var followingModal = document.getElementById("followingReleaseModal");

        var followerBtn = document.getElementById("followerCount");
        var followingBtn = document.getElementById("followingCount");

        var followersClose = document.getElementsByClassName("followersRelease-close")[0];
        var followingClose = document.getElementsByClassName("followingRelease-close")[0];

        console.log(followersModal, followingModal, followerBtn, followingBtn, followersClose, followingClose);

        if (followerBtn) {
            followerBtn.onclick = function() {
                followersModal.style.display = "block";
            };
        } else {
            console.error("Follower button not found");
        }

        if (followingBtn) {
            followingBtn.onclick = function() {
                followingModal.style.display = "block";
            };
        } else {
            console.error("Following button not found");
        }

        if (followersClose) {
            followersClose.onclick = function() {
                followersModal.style.display = "none";
            };
        } else {
            console.error("Followers close button not found");
        }

        if (followingClose) {
            followingClose.onclick = function() {
                followingModal.style.display = "none";
            };
        } else {
            console.error("Following close button not found");
        }

        window.onclick = function(event) {
            if (event.target == followersModal) {
                followersModal.style.display = "none";
            } else if (event.target == followingModal) {
                followingModal.style.display = "none";
            }
        };
    });

    document.addEventListener('DOMContentLoaded', function () {
      const postStructs = document.querySelectorAll('.post-struct');
      const popups = document.querySelectorAll('.popup');
      const closeButtons = document.querySelectorAll('.close');

      postStructs.forEach(postStruct => {
        postStruct.addEventListener('click', function () {
          const id = this.id.split('-')[2];
          document.getElementById(`popup-${id}`).style.display = 'block';
        });
      });

      closeButtons.forEach(button => {
        button.addEventListener('click', function () {
          const id = this.getAttribute('data-id');
          document.getElementById(`popup-${id}`).style.display = 'none';
        });
      });

      window.addEventListener('click', function (event) {
        popups.forEach(popup => {
          if (event.target === popup) {
            popup.style.display = 'none';
          }
        });
      });
    });


    document.addEventListener("DOMContentLoaded", function () {
      // Get all the links that open the modal
      const likeLinks = document.querySelectorAll('[id^="likes-link-"]');

      likeLinks.forEach(link => {
        link.addEventListener("click", function (event) {
          event.preventDefault();
          const postId = this.id.split("-")[2];
          const modal = document.getElementById(`likesModal-${postId}`);
          modal.style.display = "block";
        });
      });

      // Get all the elements that close the modal
      const closeButtons = document.querySelectorAll(".close");

      closeButtons.forEach(button => {
        button.addEventListener("click", function () {
          const postId = this.getAttribute("data-postid");
          const modal = document.getElementById(`likesModal-${postId}`);
          modal.style.display = "none";
        });
      });

      // Close the modal if the user clicks outside of it
      window.addEventListener("click", function (event) {
        if (event.target.classList.contains("modal")) {
          event.target.style.display = "none";
        }
      });
    });
  </script>
</html>
