{% load static %}

<div class="right-menuContainer">
    <div class="profile">
        <img src="{% static "man.png" %}" class="profile-img" alt="logo">
        <div class="sub-profile">
            <h4 class="profile-username">{{ request.user.username }}</h4>
            <p class="profile-name">{{ request.user.name }}</p>
        </div>
    </div>

    <div class="suggestions">
        <h4 class="suggest-heading">Suggested for you</h4>
        <div class="suggested-profiles">
            <div class="profile">
                <img src="{% static "man.png" %}" class="profile-img" alt="logo">
                <div class="sub-profile">
                    <h4 class="profile-username">him_kishan_das01</h4>
                    <p class="profile-name">Him Kishan Das</p>
                </div>
            </div>
            <button id="follow-btn">Follow</button>
        </div>
        <div class="suggested-profiles">
            <div class="profile">
                <img src="{% static "man.png" %}" class="profile-img" alt="logo">
                <div class="sub-profile">
                    <h4 class="profile-username">him_kishan_das01</h4>
                    <p class="profile-name">Him Kishan Das</p>
                </div>
            </div>
            <button id="follow-btn">Follow</button>
        </div>
        <div class="suggested-profiles">
            <div class="profile">
                <img src="{% static "man.png" %}" class="profile-img" alt="logo">
                <div class="sub-profile">
                    <h4 class="profile-username">him_kishan_das01</h4>
                    <p class="profile-name">Him Kishan Das</p>
                </div>
            </div>
            <button id="follow-btn">Follow</button>
        </div>
        <div class="suggested-profiles">
            <div class="profile">
                <img src="{% static "man.png" %}" class="profile-img" alt="logo">
                <div class="sub-profile">
                    <h4 class="profile-username">him_kishan_das01</h4>
                    <p class="profile-name">Him Kishan Das</p>
                </div>
            </div>
            <button id="follow-btn">Follow</button>
        </div>
    </div>
</div>
